

.gradient {
background: rgba(1, 1, 1, 1.0);
background: linear-gradient(135deg, rgba(1, 1, 1, 1.0), rgb(41, 41, 41));
}

.gradient2 {
    background: rgba(1, 1, 1, 1.0);
    background: linear-gradient(135deg, rgb(41, 41, 41), rgba(1, 1, 1, 1.0));
    }

.bi-heart-fill {
    color: rgb(253, 74, 74);
  }

