div {
  background-color: rgb(39, 38, 38);
  border-radius: 20px;
}

h1 {
  color: white;
}

* {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

select {
  border-radius: 10px;
}

.container {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  height: 600px;
  background-color: #272727;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    padding: 20px;
    border-radius: 0;
  }

  select {
    max-width: 100%;
  }

  .container img {
    width: 100%;
    max-width: 200px;
  }
}
